version: '3.8'

services:
  nextjs-app:
    container_name: nextjs_dev
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=development
    command: npm run dev  # Start Next.js in development mode

#run in docker hotswap development mode using (docker-compose -f docker-compose.dev.yml up)