version: '3.8'

services:
  nextjs-app:
    container_name: nextjs_container
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/app
      - /app/node_modules
    environment:
      - NODE_ENV=production  # Set to production for consistency
